#########################################################################
#########################################################################
#
# Filename: traefik.yaml        Traefik Static Configuration File
#
# Replace all "example.com" values with your domain name
#
#  i.e.   - main: example.com
#           sans:
#             - "*.example.com"
#
#########################################################################
#########################################################################

global:
  checkNewVersion: true
  sendAnonymousUsage: true

log:
  level: INFO    # Options are:  TRACE , DEBUG , INFO , WARN , ERROR , FATAL , and PANIC

accessLog:
  filePath: /var/log/access.log
  format: json

api:
  dashboard: true
  insecure: true

entryPoints:
  web:
    address: :80
  secureweb:
    address: :443
  metrics:
    address: :8082

providers:
  docker:
    exposedByDefault: false
  file:
    directory: /etc/traefik
    watch: true
